apipkg==1.4
argon2-cffi==16.3.0
cffi==1.10.0
coverage==4.4.1
coveralls==1.1
dj-database-url==0.4.2
Django==1.11.1
django-anymail==0.9
django-coverage-plugin==1.5.0
django-registration==2.2
docopt==0.6.2
execnet==1.4.1
flake8==3.3.0
flake8-docstrings==1.1.0
flake8-isort==2.2.1
isort==4.2.5
mccabe==0.6.1
pep257==0.7.0
psycopg2==2.7.1
py==1.4.33
pycodestyle==2.3.1
pycparser==2.17
pyflakes==1.5.0
pytest==3.0.7
pytest-cov==2.5.1
pytest-django==3.1.2
pytest-xdist==1.16.0
requests==2.14.2
six==1.10.0
testfixtures==4.14.2
uWSGI==2.0.15
