@import colours

@font-face
    font-family: 'VGA9'
    src: url('../fonts/Px437_IBM_VGA9.ttf') format('truetype')

html
    background: $black
    color: $gray
    font-family: 'VGA9', monospace
    font-size: 16px

body
    margin: 0 auto
    width: 80ch

h1, h2, h3, h4, h5, h6
    font-size: 16px
    font-weight: normal

b, strong
    color: $white
    font-weight: normal

em, i
    font-style: normal
